:host ::ng-deep
  .ngx-datatable.material {box-shadow: none; border: 1px solid rgba(0, 0, 0, 0.12);
  .datatable-header-cell { overflow-x: visible; }
  .page-count::after{ content: 'Total';}
}

.modal-backdrop.your-backdrop-class {
  z-index: 100!important;
}
